<ion-header-bar class="bar-stable">
  <a class="button button-clear button-icon icon-right ion-arrow-left-c"
     href="#/main"></a>
  <h1 class="title">Distance</h1>
</ion-header-bar>
<ion-content ng-init="init()">
  <!--<div class="list">-->
    <!--<div class="item item-text-wrap">-->
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      background-color: silver;
      text-align: left;
      padding: 8px;
    }
    td {
      background-color: white;
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
      <table>
        <tr style="border-right: 1px solid;background-color: #fafafa;">
          <th align="left"><strong>Agent Id</strong></th>
          <th align="left"><strong>Country</strong></th>
          <th align="left"><strong>Address</strong></th>
          <th align="left"><strong>Distance</strong></th>
          <th align="left"><strong>Date</strong></th>
        </tr>
        <tr ng-repeat="agent in agents|orderBy: sort"
            ng-init="getVals(agent);checkVals(agent)"
            style="{{agent.style}}">
          <td align="left" >{{agent.agent}}</td>
          <td align="left" >{{agent.country}}</td>
          <td align="left" >{{agent.address}}</td>
          <td align="left" >{{agent.distance}}</td>
          <td align="left" >{{agent.date | date:'medium'}}</td>
        </tr>
        <tr>
          <th colspan="4"  >
            <select ng-model="sort" ng-init="sort='date'">
              <option value="agent" date><strong>Agent Id</strong></option>
              <option value="country"><strong>Country</strong></option>
              <option value="address"><strong>Address</strong></option>
              <option value="distance"><strong>Distance</strong></option>
              <option value="date"><strong>Date</strong></option>
            </select>
          <th>{{agents.length}} missions</th>
        </tr>
      </table>


    <!--</div>-->
  <!--</div>-->
</ion-content>


</ion-view>
